<section
  class="landing-section bg-black h-screen text-center relative overflow-hidden"
  data-header-color="black"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-black text-[40px] font-medium pt-32">Accessories</h2>
    </header>

    <footer class="flex flex-col flex-grow justify-end pb-20">
      <div class="flex justify-center gap-6">
        <a
          class="rounded border-white bg-white font-medium text-sm text-black/70 inline-block w-[264px] h-10 text-center content-center"
          href="#">Shop Now</a
        >
      </div>
    </footer>

    <div class="flex justify-center pb-9 bg-gray-800/5 backdrop-blur-sm h-5">
      <ul class="flex text-white gap-6 text-xs font-medium pt-3">
        <li><a href="#">Tesla © 2024</a></li>
        <li><a href="#">Privacy & Legal </a></li>
        <li><a href="#">Vehicle Recalls</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Get Updates</a></li>
        <li><a href="#">Locations</a></li>
      </ul>
    </div>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <!-- class="object-cover object-center h-full" -->
    <img
      class="object-cover object-center h-screen w-screen"
      src="/accessories.avif"
      alt=""
    />
  </div>
</section>
