<section
  class="landing-section bg-black h-screen text-center relative overflow-hidden"
  data-header-color="black"
>
  <div class="z-30 relative h-full flex flex-col">
    <footer class="flex flex-col flex-grow justify-end pb-16">
      <div class="flex justify-center gap-6">
        <a
          class="border-2 rounded border-white bg-white font-medium text-sm text-black inline-block w-[264px] h-10 text-center content-center"
          href="#">Order Now</a
        >
        <a
          class="border-2 rounded border-gray-800 bg-gray-800 font-medium text-sm text-white inline-block w-[264px] h-10 text-center content-center"
          href="#">Learn More</a
        >
      </div>
      <p class="text-xs text-black font-normal mt-10">
        *Price before incentives is $44,990, excluding taxes and fees. Subject
        to change.
      </p>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <!-- class="object-cover object-center h-full" -->
    <img
      class="object-cover object-center h-screen w-screen"
      src="/cyberpunk.avif"
      alt=""
    />
  </div>
</section>
