<section
  class="landing-section bg-black h-screen relative overflow-hidden flex justify-end flex-col"
  data-header-color="white"
>
  <div class="z-30 relative h-36 w-5/12 flex flex-col ml-14 mb-48">
    <header>
      <h2 class="text-white text-[40px] font-medium">
        Model Y Starting at $37,490 After Federal Tax Credit
      </h2>
      <p class="text-white text-sm mt-5">
        Eligible buyers qualify for a $7,500 federal tax credit. Applied at time
        of Model Y delivery. <a class="underline" href="#">See details</a>
      </p>
    </header>

    <footer class="mt-10">
      <div>
        <a
          class="border-2 rounded border-white bg-white font-medium text-black inline-block w-52 h-11 text-center content-center"
          href="#">Shop Available</a
        >
        <a
          class="ml-5 border-2 rounded border-zinc-900 bg-zinc-900 font-medium text-white inline-block w-52 h-11 text-center content-center"
          href="#">Demo Drive</a
        >
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <!-- class="object-cover object-center h-full" -->
    <video
      class="object-cover object-center h-screen w-screen"
      autoplay
      muted
      src="/video.webm"></video>
  </div>
</section>
