---
import Logo from "./Logo.astro";
---

<header
  id="landing-header"
  class="py-3 px-10 flex items-center fixed top-0 w-full justify-between z-40 text-white"
>
  <div class="flex flex-grow basis-0">
    <Logo />
  </div>

  <nav>
    <ul class="flex text-sm">
      <li>
        <a
          class="transition-colors duration-500 text-current font-bold inline-block px-4 py-2"
          href="#">Vehicles</a
        >
      </li>
      <li>
        <a
          class="transition-colors duration-500 text-current font-bold inline-block px-4 py-2"
          href="#">Energy</a
        >
      </li>
      <li>
        <a
          class="transition-colors duration-500 text-current font-bold inline-block px-4 py-2"
          href="#">Charging</a
        >
      </li>
      <li>
        <a
          class="transition-colors duration-500 text-current font-bold inline-block px-4 py-2"
          href="#">Discover</a
        >
      </li>
      <li>
        <a
          class="transition-colors duration-500 text-current font-bold inline-block px-4 py-2"
          href="#">Shop</a
        >
      </li>
    </ul>
  </nav>

  <nav class="flex flex-grow basis-0 justify-end">
    <ul class="flex text-sm">
      <i
        class="font-bold inline-block px-2 py-2 text-xl transition-colors duration-500 fa-regular fa-circle-question"
      ></i>
      <i
        class="font-bold inline-block px-2 py-2 text-xl transition-colors duration-500 fa-solid fa-globe"
      ></i>
      <i
        class="font-bold inline-block px-2 py-2 text-xl transition-colors duration-500 fa-regular fa-circle-user"
      ></i>
    </ul>
  </nav>

  <div
    id="menu-backdrop"
    class={`absolute bg-black/5 backdrop-blur-lg rounded
    translate-x-[var(--left)] top-[var(--top)]
    left-0 right-0
    w-[var(--width)] h-[var(--height)]
    transition-all
    ease-in-out opacity-0 -z-10 duration-500
    `}
  >
  </div>
</header>

<script>
  const listItem = document.querySelectorAll("#landing-header li");
  const menuBackdrop = document.getElementById("menu-backdrop");

  listItem.forEach((item) => {
    item.addEventListener("mouseenter", ({}) => {
      const { left, top, width, height } = item.getBoundingClientRect();
      // const { clientHeight, clientWidth } = document.documentElement;

      menuBackdrop.style.setProperty("--left", `${left}px`);
      menuBackdrop.style.setProperty("--top", `${top}px`);
      menuBackdrop.style.setProperty("--width", `${width}px`);
      menuBackdrop.style.setProperty("--height", `${height}px`);
      menuBackdrop.style.opacity = "1";
      menuBackdrop.style.visibility = "visible";
    });
    item.addEventListener("mouseleave", () => {
      menuBackdrop.style.opacity = "0";
      menuBackdrop.style.visibility = "hidden";
    });
  });
</script>

<script>
  const header = document.getElementById("landing-header");

  const observerOptions = {
    root: null,
    rootMargin: "0px", //en cuanto se vea el elemento
    threshold: 0.9, //porcentaje de visibilidad
  };

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      const { isIntersecting } = entry;
      if (isIntersecting) {
        const color = entry.target.getAttribute("data-header-color");
        header.style.color = color;
      }
    });
  }, observerOptions);

  const sections = document.querySelectorAll(".landing-section");
  sections.forEach((section) => observer.observe(section));
</script>
