<section
  class="landing-section bg-black h-screen text-center relative overflow-hidden"
  data-header-color="black"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h3 class="text-black text-[22px] font-light pt-32">Reengineered</h3>
      <h2 class="text-black text-[40px] font-medium">Model 3</h2>
      <h3 class="text-black text-[20px] font-light">
        Lease starting at $329/mo*
      </h3>
    </header>

    <footer class="flex flex-col flex-grow justify-end pb-16">
      <div class="flex justify-center gap-6">
        <a
          class="border-2 rounded border-white bg-white font-medium text-black inline-block w-[264px] h-10 text-center content-center"
          href="/tesla/#">Custom Order</a
        >
        <a
          class="border-2 rounded border-gray-800 bg-gray-800 font-medium text-sm text-white inline-block w-[264px] h-10 text-center content-center"
          href="/tesla/#">Demo Drive</a
        >
      </div>
      <p class="text-xs text-black font-normal mt-10">
        *Excludes taxes and fees with price subject to change. Available in
        select states. <a href="/tesla/#" class="underline">See details</a>
      </p>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <!-- class="object-cover object-center h-full" -->
    <img
      class="object-cover object-center h-screen w-screen"
      src="/tesla/model3.avif"
      alt=""
    />
  </div>
</section>
