<section
  class="landing-section bg-black h-screen text-center relative overflow-hidden"
  data-header-color="black"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-black text-[40px] font-medium pt-32">Solar Roof</h2>
      <h3 class="text-black text-[14px] font-medium">
        Produce Clean Energy From Your Roof
      </h3>
    </header>

    <footer class="flex flex-col flex-grow justify-end pb-32">
      <div class="flex justify-center gap-6">
        <a
          class="rounded border-white/40 bg-white/40 backdrop-blur-sm font-medium text-sm text-black inline-block w-[264px] h-10 text-center content-center"
          href="#">Order Now</a
        >
        <a
          class="rounded border-gray-800 bg-gray-800/75 backdrop-blur-sm font-medium text-sm text-white inline-block w-[264px] h-10 text-center content-center"
          href="#">Learn More</a
        >
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <!-- class="object-cover object-center h-full" -->
    <img
      class="object-cover object-center h-screen w-screen"
      src="/tesla/solarRoof.avif"
      alt=""
    />
  </div>
</section>
